html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, #a8d0e6, #f76c6c);
  min-height: 100vh;
}

/* typography and icons */

h1 {
  color: #0f8cdf;
  margin-bottom: 10px;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 600;
}

i {
  font-size: 15px;
  cursor: pointer;
}

.fa-solid {
  color: #999;
}

.fa-heart.liked,
.fa-retweet.retweeted {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.liked {
  color: red;
}

.retweeted {
  color: rgb(71, 124, 223);
}

/* layout */

main,
header {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding-bottom: 25px;
}

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* textareas + btn */

textarea {
  border: none;
  padding: 10px;
  margin: 0 0 20px 0;
  height: 60px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  background-color: #f7faff;
  border: 1px solid #1da1f2;
  border-radius: 4px;
  margin-top: 20px;
}

button {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

button:hover {
  background-color: #0d8ddb;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* tweet */

.tweet {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0;
  width: 100%;
  margin: 15px 0;
}

.tweet:hover {
  background-color: #f0f8ff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
}

.tweet-inner {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.tweet-details {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  width: 160px;
}

.tweet-detail {
  display: flex;
  gap: 4px;
}

.tweet-reply {
  background: #f9fcff;
  border-left: 3px solid #1da1f2;
  border-radius: 6px;
  padding: 10px 15px;
}

.handle {
  font-size: 12px;
  font-weight: 500;
  color: #555;
  margin-top: 0;
}

.tweet-text {
  width: auto;
  max-width: 400px;
  line-height: 1.6;
}

/* images */

.profile-pic {
  border: 1px solid #1da1f2;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

/* utility */
.hidden {
  display: none;
}

/*tablet frame*/

.tablet-frame {
  width: 600px;
  min-height: 800px;
  margin: 40px auto;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  overflow-y: auto;
  background-color: #f7faff;
}
